body{
background-color: black;
color: white;
}
.gradient-text{
  -webkit-background-clip: text;
  @apply bg-gradient-to-t from-blue-500 to-cyan-500 text-transparent;
  overflow: hidden;
  border-right:2px solid #fff ;
  display: inline-block;
  width: max-content;
  text-wrap: nowrap;
  width: 0;
}
